/* Optional CSS for more custom styling */
.forgetPassword
{
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #6d62d0, #3d5af1);
}
input::placeholder {
    text-align: end;
    color: #aaa;
  }
  
  button:hover {
    background-color: #2d4373;
  }
  
  