.tabDetails {
    background-color: #efefef;
    margin-left: 10px;
    display: flex;
    gap: 6px;
    padding: 5px !important;
}

.tabDetails:hover {
    background-color: #CBD5E0 !important;
}

.hero {
    width: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5f5;
    margin: 10px auto;
}
.profileModification
{
    /* background-color: red; */
}
@media (max-width:480px)
{
    .hero
    {
        width: 100%;
    }
    .profileModification .button
    {
        width: 60%;
        margin-left: 10px;
    }
    .profileModification .box
    {
        width: 35%;
    }
}