:root{
  --primary-color:#007bff;
  --dark-color:#343a40;
  --light-color:#f4f4f4;
  --danger-color:#dc3545;
  --success-color:#28a745;
  --warning-color:#ffc107;
  --main-color:#000;
  --secondary-color:#fff;
  --third-color:#18181B;
  --border-color: rgba(63,63,70,0.4)
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: #f0f2f5f5 !important;
    color: var(--secondary-color) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
  padding-left: -10px;
}
.container
{
  margin: 0 auto;
  /* background-color: var(--third-color); */
  color: var(--secondary-color);
  border: 1px solid var(--border-color);
  /* overflow: hidden; */
}
html
{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* height: 100vh; */
  /* background-color: #f0f2f5f5 !important; */
  color: var(--secondary-color) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
}
ul li
{
  list-style: none;
}
